<div>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <td>Product Description</td>
            <td>Product Type</td>
            <td>Product Price</td>
            <td>Action</td>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productType}}</td>
            <td>{{product.productPrice}}$</td>
            <td>
                <button style="padding: 5px; background-color: yellow;"
                    (click)="openEditModal(product.productId)">Edit</button>
                <button style="padding: 5px; background-color: red;" (click)="deleteProduct(product.productId)">Delete</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="isModalVisible">
    <app-edit-modal #editModal [productId]="productId" (modalInVisibleEvent)="closeEditModal()"></app-edit-modal>
</div>