<div class="overlay" id="overlay">
  <div class="modal" id="modal">
    <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
    <h2>Edit Product</h2>
    <form class="form">
      <label for="productID">Product ID:</label>
      <input disabled type="number" id="productID" [(ngModel)]="product.productId" name="productID">
      <label for="productName">Product Name:</label>
      <input type="text" id="productName" placeholder="Enter product name" [(ngModel)]="product.productName" name="productName">
      <label for="productDescription">Product Description:</label>
      <input type="text" id="productDescription" placeholder="Enter product description" [(ngModel)]="product.productDescription" name="productDescription">
      <label for="productType">Product Type:</label>
      <select id="productType" name="productType" [(ngModel)]="product.productType">
        <option value="{{product.productType}}">
          {{product.productType}}
        </option>
      </select>
      <label for="productPrice">Price:</label>
      <input type="number" id="productPrice" placeholder="Enter product price" [(ngModel)]="product.productPrice" name="productPrice">
      <button type="button" class="save-button" id="saveProductBtn" (click)="saveProduct()">Save</button>
    </form>
    <button id="closeModalBtn" (click)="closeModal()">Close</button>
  </div>
</div>